# Case Study #04 - Hypothesis Testing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pkt
import seaborn as sns
import scipy.stats as stats

In [2]:
data=pd.read_csv('Sales_add.csv')
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [3]:
data.shape

(22, 5)

In [4]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

# ***The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.***

In [ ]:
#Hypothesis
#H0: There is an increase in sales after stepping into digital marketing.
#H1: There is no increase in sales after stepping into digital marketing.
#right tailed t test

In [6]:
sales_before=data[['Sales_before_digital_add(in $)']]
sales_after=data[['Sales_After_digital_add(in $)']]
tvalue,pvalue=stats.ttest_ind(sales_before,sales_after)
stats.ttest_ind(sales_before,sales_after)

Ttest_indResult(statistic=array([-12.99508445]), pvalue=array([2.61436801e-16]))

In [7]:
tcriteria=(stats.t.ppf((1-0.05),26))
stats.t.ppf((1-0.05),26)

1.7056179197592727

In [8]:
print('t_value=%3f, p_value=%3f'%(tvalue,pvalue))
if np.abs(tvalue)>np.abs(tcriteria) and pvalue<0.05:
    print('Reject H0: There is an increase in sales after stepping into digital marketing. \nIt is significant that the digital marketing has not helped the company to have better sales.')
else:
    print('Accept H0: There is an increase in sales after stepping into digital marketing. \nIt is significant that the digital marketing has helped the company to have better sales.')

t_value=-12.995084, p_value=0.000000
Reject H0: There is an increase in sales after stepping into digital marketing.
It is significant that the digital marketing has not helped the company to have better sales.

# ***The company needs to check whether there is any dependency between the features “Region” and “Manager”.***

In [ ]:
#Hypothesis
#H0: The features “Region” and “Manager” are independent.
#H1: The features “Region” and “Manager” are not independent.
#chi-square test

In [9]:
data1=data.drop(['Month','Sales_before_digital_add(in $)','Sales_After_digital_add(in $)'],axis=1)
data_crosstab = pd.crosstab(data1['Manager'],
                            data1['Region'], 
                               margins = False)
print(data_crosstab)

Region       Region - A  Region - B  Region - C
Manager
Manager - A           4           4           1
Manager - B           3           1           3
Manager - C           3           2           1

In [10]:
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency(data_crosstab)
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print("Reject H0: The features “Region” and “Manager” are independent i.e., the variables ('Region' and 'Manager') have a significant relation.")
else:
    print("Accept H0: The features “Region” and “Manager” are independent \ni.e., the variables ('Region' and 'Manager') do not have a significant relation.")

p value is 0.5493991051158094
Accept H0: The features “Region” and “Manager” are independent
i.e., the variables ('Region' and 'Manager') do not have a significant relation.